.task {
    display: flex;
    align-items: center;
    padding: 10px 20px;
    margin: 15px 0;
    font-size: 1.5rem;
    border-radius: 10px;
    border: 2px solid #39850a;
    color: #142f4a;
    background-color: #f1f2f0;
}

.taskText {
    width: 100%;
    text-align: left;
}

.todoIcon {
    font-size: 1.8rem;
    margin-right: 10px;
    color: #208f8f;
}